* {
    margin: 1px;
    padding: 1px;
}
.header{
    text-align: right;
}
#img1, #img2, #img3, #img4, #img5, #img6, #img7, #img8, #img9, #img10, #img11, #img12, #img13{
    display: block;
    margin: auto;
    border-radius: 50%;
    padding: 15px;
}
/* #text2, #text3, #text4, #text5, #text6, #text7, #text8, #text9, #text10, #text11, #text12, #text13{
    text-align: right;
} */
li{
    list-style: none;
}
.footerCenter{
    text-align: justify;
}
.footerLeft{
    margin-left: 10px;
}